//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 26 05:50:39 2016
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "sseg<7>" LOCATE = SITE "M13" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "master_clk" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

