//! **************************************************************************
// Written by: Map P.20131013 on Thu Aug 04 17:58:26 2016
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "disp_unit/q_reg_0" BEL "disp_unit/q_reg_1" BEL
        "disp_unit/q_reg_2" BEL "disp_unit/q_reg_3" BEL "disp_unit/q_reg_4"
        BEL "disp_unit/q_reg_5" BEL "disp_unit/q_reg_6" BEL
        "disp_unit/q_reg_7" BEL "disp_unit/q_reg_8" BEL "disp_unit/q_reg_9"
        BEL "disp_unit/q_reg_10" BEL "disp_unit/q_reg_11" BEL
        "disp_unit/q_reg_12" BEL "disp_unit/q_reg_13" BEL "disp_unit/q_reg_14"
        BEL "disp_unit/q_reg_15" BEL "disp_unit/q_reg_16" BEL
        "disp_unit/q_reg_17" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

