#Created by Constraints Editor (xc6slx16-csg324-3) - 2011/04/11
NET "CLK_I" TNM_NET = "CLK_I";
TIMESPEC TS_CLK_I = PERIOD "CLK_I" 100 MHz HIGH 50 %;

NET "BTNM_I" LOC = B8 | IOSTANDARD = LVCMOS33;
NET "CLK_I" LOC = V10 | IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 
NET "SW_I[0]" LOC = T10 | IOSTANDARD = LVCMOS33;
NET "SW_I[1]" LOC = T9 | IOSTANDARD = LVCMOS33;
NET "SW_I[2]" LOC = V9 | IOSTANDARD = LVCMOS33;
NET "SW_I[3]" LOC = M8 | IOSTANDARD = LVCMOS33;
NET "SW_I[4]" LOC = N8 | IOSTANDARD = LVCMOS33;
NET "SW_I[5]" LOC = U8 | IOSTANDARD = LVCMOS33;
NET "SW_I[6]" LOC = V8 | IOSTANDARD = LVCMOS33;
NET "SW_I[7]" LOC = T5 | IOSTANDARD = LVCMOS33;

# 7 segment display
NET "SEG_O<0>" LOC = "T17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L51P_M1DQ12_1, Sch Name = CA
NET "SEG_O<1>" LOC = "T18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L51N_M1DQ13_1, Sch Name = CB
NET "SEG_O<2>" LOC = "U17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L52P_M1DQ14_1, Sch Name = CC
NET "SEG_O<3>" LOC = "U18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L52N_M1DQ15_1, Sch Name = CD
NET "SEG_O<4>" LOC = "M14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L53P_1, Sch Name = CE
NET "SEG_O<5>" LOC = "N14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L53N_VREF_1, Sch Name = CF
NET "SEG_O<6>" LOC = "L14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L61P_1, Sch Name = CG
NET "SEG_O<7>" LOC = "M13" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L61N_1, Sch Name = DP

NET "AN_O<0>" LOC = "N16" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L50N_M1UDQSN_1, Sch Name = AN0
NET "AN_O<1>" LOC = "N15" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L50P_M1UDQS_1, Sch Name = AN1
NET "AN_O<2>" LOC = "P18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L49N_M1DQ11_1, Sch Name = AN2
NET "AN_O<3>" LOC = "P17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin Name = IO_L49P_M1DQ10_1, Sch Name = AN3