# PlanAhead Generated physical constraints 

NET "TFT_BKLT_O" LOC = P7;
NET "TFT_B_O[0]" LOC = N10;
NET "TFT_B_O[1]" LOC = P11;
NET "TFT_B_O[2]" LOC = T12;
NET "TFT_B_O[3]" LOC = V12;
NET "TFT_B_O[4]" LOC = R11;
NET "TFT_B_O[5]" LOC = M11;
NET "TFT_B_O[6]" LOC = T11;
NET "TFT_B_O[7]" LOC = N11;
NET "TFT_CLK_O" LOC = U10;
NET "TFT_DE_O" LOC = T7;
NET "TFT_DISP_O" LOC = R7;
NET "TFT_G_O[0]" LOC = M8;
NET "TFT_G_O[1]" LOC = R8;
NET "TFT_G_O[2]" LOC = N8;
NET "TFT_G_O[3]" LOC = T8;
NET "TFT_G_O[4]" LOC = V11;
NET "TFT_G_O[5]" LOC = U11;
NET "TFT_G_O[6]" LOC = M10;
NET "TFT_G_O[7]" LOC = N9;
NET "TFT_R_O[0]" LOC = V6;
NET "TFT_R_O[1]" LOC = T6;
NET "TFT_R_O[2]" LOC = N7;
NET "TFT_R_O[3]" LOC = P8;
NET "TFT_R_O[4]" LOC = U7;
NET "TFT_R_O[5]" LOC = V7;
NET "TFT_R_O[6]" LOC = U8;
NET "TFT_R_O[7]" LOC = V8;
NET "TFT_VDDEN_O" LOC = N6;
NET "TP_BUSY_I" LOC = U16;
NET "TP_CS_O" LOC = U13;
NET "TP_DCLK_O" LOC = R10;
NET "TP_DIN_O" LOC = U15;
NET "TP_DOUT_I" LOC = V15;
NET "TP_PENIRQ_I" LOC = V13;

# PlanAhead Generated IO constraints 

NET "TFT_BKLT_O" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[0]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[1]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[2]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[3]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[4]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[5]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[6]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[7]" IOSTANDARD = LVCMOS33;
NET "TFT_CLK_O" IOSTANDARD = LVCMOS33;
NET "TFT_DE_O" IOSTANDARD = LVCMOS33;
NET "TFT_DISP_O" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[0]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[1]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[2]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[3]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[4]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[5]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[6]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[7]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[0]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[1]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[2]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[3]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[4]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[5]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[6]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[7]" IOSTANDARD = LVCMOS33;
NET "TFT_VDDEN_O" IOSTANDARD = LVCMOS33;
NET "TP_BUSY_I" IOSTANDARD = LVCMOS33;
NET "TP_CS_O" IOSTANDARD = LVCMOS33;
NET "TP_DCLK_O" IOSTANDARD = LVCMOS33;
NET "TP_DIN_O" IOSTANDARD = LVCMOS33;
NET "TP_DOUT_I" IOSTANDARD = LVCMOS33;
NET "TP_PENIRQ_I" IOSTANDARD = LVCMOS33;
NET "TFT_BKLT_O" DRIVE = 12;
NET "TFT_B_O[0]" DRIVE = 12;
NET "TFT_B_O[1]" DRIVE = 12;
NET "TFT_B_O[2]" DRIVE = 12;
NET "TFT_B_O[3]" DRIVE = 12;
NET "TFT_B_O[4]" DRIVE = 12;
NET "TFT_B_O[5]" DRIVE = 12;
NET "TFT_B_O[6]" DRIVE = 12;
NET "TFT_B_O[7]" DRIVE = 12;
NET "TFT_CLK_O" DRIVE = 12;
NET "TFT_DE_O" DRIVE = 12;
NET "TFT_DISP_O" DRIVE = 12;
NET "TFT_G_O[0]" DRIVE = 12;
NET "TFT_G_O[1]" DRIVE = 12;
NET "TFT_G_O[2]" DRIVE = 12;
NET "TFT_G_O[3]" DRIVE = 12;
NET "TFT_G_O[4]" DRIVE = 12;
NET "TFT_G_O[5]" DRIVE = 12;
NET "TFT_G_O[6]" DRIVE = 12;
NET "TFT_G_O[7]" DRIVE = 12;
NET "TFT_R_O[0]" DRIVE = 12;
NET "TFT_R_O[1]" DRIVE = 12;
NET "TFT_R_O[2]" DRIVE = 12;
NET "TFT_R_O[3]" DRIVE = 12;
NET "TFT_R_O[4]" DRIVE = 12;
NET "TFT_R_O[5]" DRIVE = 12;
NET "TFT_R_O[6]" DRIVE = 12;
NET "TFT_R_O[7]" DRIVE = 12;
NET "TFT_VDDEN_O" DRIVE = 12;
NET "TP_BUSY_I" DRIVE = 12;
NET "TP_CS_O" DRIVE = 12;
NET "TP_DCLK_O" DRIVE = 12;
NET "TP_DIN_O" DRIVE = 12;
NET "TP_DOUT_I" DRIVE = 12;
NET "TP_PENIRQ_I" DRIVE = 12;
NET "TFT_BKLT_O" SLEW = FAST;
NET "TFT_B_O[0]" SLEW = FAST;
NET "TFT_B_O[1]" SLEW = FAST;
NET "TFT_B_O[2]" SLEW = FAST;
NET "TFT_B_O[3]" SLEW = FAST;
NET "TFT_B_O[4]" SLEW = FAST;
NET "TFT_B_O[5]" SLEW = FAST;
NET "TFT_B_O[6]" SLEW = FAST;
NET "TFT_B_O[7]" SLEW = FAST;
NET "TFT_CLK_O" SLEW = FAST;
NET "TFT_DE_O" SLEW = FAST;
NET "TFT_DISP_O" SLEW = FAST;
NET "TFT_G_O[0]" SLEW = FAST;
NET "TFT_G_O[1]" SLEW = FAST;
NET "TFT_G_O[2]" SLEW = FAST;
NET "TFT_G_O[3]" SLEW = FAST;
NET "TFT_G_O[4]" SLEW = FAST;
NET "TFT_G_O[5]" SLEW = FAST;
NET "TFT_G_O[6]" SLEW = FAST;
NET "TFT_G_O[7]" SLEW = FAST;
NET "TFT_R_O[0]" SLEW = FAST;
NET "TFT_R_O[1]" SLEW = FAST;
NET "TFT_R_O[2]" SLEW = FAST;
NET "TFT_R_O[3]" SLEW = FAST;
NET "TFT_R_O[4]" SLEW = FAST;
NET "TFT_R_O[5]" SLEW = FAST;
NET "TFT_R_O[6]" SLEW = FAST;
NET "TFT_R_O[7]" SLEW = FAST;
NET "TFT_VDDEN_O" SLEW = FAST;
NET "TP_BUSY_I" SLEW = FAST;
NET "TP_CS_O" SLEW = FAST;
NET "TP_DCLK_O" SLEW = FAST;
NET "TP_DIN_O" SLEW = FAST;
NET "TP_DOUT_I" SLEW = FAST;
NET "TP_PENIRQ_I" SLEW = FAST;