NET "TFT_VDDEN_O" LOC = D14; # Schematic name: TFT-EN
NET "TFT_B_O[0]" LOC = C7;
NET "TFT_B_O[1]" LOC = A7;
NET "TFT_B_O[2]" LOC = B6;
NET "TFT_B_O[3]" LOC = A6;
NET "TFT_B_O[4]" LOC = C5;
NET "TFT_B_O[5]" LOC = B4;
NET "TFT_B_O[6]" LOC = A5;
NET "TFT_B_O[7]" LOC = A4;
NET "TFT_CLK_O" LOC = C10;
NET "TFT_DE_O" LOC = A15;
NET "TFT_DISP_O" LOC = C15;
NET "TFT_G_O[0]" LOC = B11;
NET "TFT_G_O[1]" LOC = G9;
NET "TFT_G_O[2]" LOC = A11;
NET "TFT_G_O[3]" LOC = F9;
NET "TFT_G_O[4]" LOC = A9;
NET "TFT_G_O[5]" LOC = B9;
NET "TFT_G_O[6]" LOC = D8;
NET "TFT_G_O[7]" LOC = C8;
NET "TFT_BKLT_O" LOC = C14; # Schematic name: LED-EN
NET "TFT_R_O[0]" LOC = E13;
NET "TFT_R_O[1]" LOC = F13;
NET "TFT_R_O[2]" LOC = B14;
NET "TFT_R_O[3]" LOC = A14;
NET "TFT_R_O[4]" LOC = C13;
NET "TFT_R_O[5]" LOC = A13;
NET "TFT_R_O[6]" LOC = B12;
NET "TFT_R_O[7]" LOC = A12;
NET "TP_BUSY_I" LOC = B2;
NET "TP_CS_O" LOC = B3;
NET "TP_DCLK_O" LOC = D11;
NET "TP_DIN_O" LOC = D6;
NET "TP_DOUT_I" LOC = C6;
NET "TP_PENIRQ_I" LOC = A3;

# #PlanAhead Generated IO constraints 

#Created by Constraints Editor (xc6slx45-csg324-3) - 2011/04/12
INST "TFT_R_O[7]" TNM = "TFT_PIXEL_BUS";
INST "TFT_R_O[0]" TNM = "TFT_PIXEL_BUS";
INST "TFT_R_O[1]" TNM = "TFT_PIXEL_BUS";
INST "TFT_R_O[2]" TNM = "TFT_PIXEL_BUS";
INST "TFT_R_O[3]" TNM = "TFT_PIXEL_BUS";
INST "TFT_R_O[4]" TNM = "TFT_PIXEL_BUS";
INST "TFT_R_O[5]" TNM = "TFT_PIXEL_BUS";
INST "TFT_R_O[6]" TNM = "TFT_PIXEL_BUS";
INST "TFT_B_O[0]" TNM = "TFT_PIXEL_BUS";
INST "TFT_B_O[1]" TNM = "TFT_PIXEL_BUS";
INST "TFT_B_O[2]" TNM = "TFT_PIXEL_BUS";
INST "TFT_B_O[3]" TNM = "TFT_PIXEL_BUS";
INST "TFT_B_O[4]" TNM = "TFT_PIXEL_BUS";
INST "TFT_B_O[5]" TNM = "TFT_PIXEL_BUS";
INST "TFT_B_O[6]" TNM = "TFT_PIXEL_BUS";
INST "TFT_B_O[7]" TNM = "TFT_PIXEL_BUS";
INST "TFT_CLK_O" TNM = "TFT_PIXEL_BUS";
INST "TFT_DE_O" TNM = "TFT_PIXEL_BUS";
INST "TFT_G_O[0]" TNM = "TFT_PIXEL_BUS";
INST "TFT_G_O[1]" TNM = "TFT_PIXEL_BUS";
INST "TFT_G_O[2]" TNM = "TFT_PIXEL_BUS";
INST "TFT_G_O[3]" TNM = "TFT_PIXEL_BUS";
INST "TFT_G_O[4]" TNM = "TFT_PIXEL_BUS";
INST "TFT_G_O[5]" TNM = "TFT_PIXEL_BUS";
INST "TFT_G_O[6]" TNM = "TFT_PIXEL_BUS";
INST "TFT_G_O[7]" TNM = "TFT_PIXEL_BUS";
TIMEGRP "TFT_PIXEL_BUS" OFFSET = OUT  AFTER "CLK_I" REFERENCE_PIN "TFT_CLK_O";

# PlanAhead Generated IO constraints 

NET "TFT_B_O[0]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[1]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[2]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[3]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[4]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[5]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[6]" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[7]" IOSTANDARD = LVCMOS33;
NET "TFT_CLK_O" IOSTANDARD = LVCMOS33;
NET "TFT_DE_O" IOSTANDARD = LVCMOS33;
NET "TFT_DISP_O" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[0]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[1]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[2]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[3]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[4]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[5]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[6]" IOSTANDARD = LVCMOS33;
NET "TFT_G_O[7]" IOSTANDARD = LVCMOS33;
NET "TFT_BKLT_O" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[0]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[1]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[2]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[3]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[4]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[5]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[6]" IOSTANDARD = LVCMOS33;
NET "TFT_R_O[7]" IOSTANDARD = LVCMOS33;
NET "TFT_VDDEN_O" IOSTANDARD = LVCMOS33;
NET "TP_BUSY_I" IOSTANDARD = LVCMOS33;
NET "TP_CS_O" IOSTANDARD = LVCMOS33;
NET "TP_DCLK_O" IOSTANDARD = LVCMOS33;
NET "TP_DIN_O" IOSTANDARD = LVCMOS33;
NET "TP_DOUT_I" IOSTANDARD = LVCMOS33;
NET "TP_PENIRQ_I" IOSTANDARD = LVCMOS33;
NET "TFT_B_O[0]" OUT_TERM = UNTUNED_75;
NET "TFT_B_O[1]" OUT_TERM = UNTUNED_75;
NET "TFT_B_O[2]" OUT_TERM = UNTUNED_75;
NET "TFT_B_O[3]" OUT_TERM = UNTUNED_75;
NET "TFT_B_O[4]" OUT_TERM = UNTUNED_75;
NET "TFT_B_O[5]" OUT_TERM = UNTUNED_75;
NET "TFT_B_O[6]" OUT_TERM = UNTUNED_75;
NET "TFT_B_O[7]" OUT_TERM = UNTUNED_75;
NET "TFT_CLK_O" OUT_TERM = UNTUNED_75;
NET "TFT_DE_O" OUT_TERM = UNTUNED_75;
NET "TFT_DISP_O" OUT_TERM = UNTUNED_75;
NET "TFT_G_O[0]" OUT_TERM = UNTUNED_75;
NET "TFT_G_O[1]" OUT_TERM = UNTUNED_75;
NET "TFT_G_O[2]" OUT_TERM = UNTUNED_75;
NET "TFT_G_O[3]" OUT_TERM = UNTUNED_75;
NET "TFT_G_O[4]" OUT_TERM = UNTUNED_75;
NET "TFT_G_O[5]" OUT_TERM = UNTUNED_75;
NET "TFT_G_O[6]" OUT_TERM = UNTUNED_75;
NET "TFT_G_O[7]" OUT_TERM = UNTUNED_75;
NET "TFT_BKLT_O" OUT_TERM = UNTUNED_75;
NET "TFT_R_O[0]" OUT_TERM = UNTUNED_75;
NET "TFT_R_O[1]" OUT_TERM = UNTUNED_75;
NET "TFT_R_O[2]" OUT_TERM = UNTUNED_75;
NET "TFT_R_O[3]" OUT_TERM = UNTUNED_75;
NET "TFT_R_O[4]" OUT_TERM = UNTUNED_75;
NET "TFT_R_O[5]" OUT_TERM = UNTUNED_75;
NET "TFT_R_O[6]" OUT_TERM = UNTUNED_75;
NET "TFT_R_O[7]" OUT_TERM = UNTUNED_75;
NET "TFT_VDDEN_O" OUT_TERM = UNTUNED_75;
NET "TP_CS_O" OUT_TERM = UNTUNED_75;
NET "TP_DCLK_O" OUT_TERM = UNTUNED_75;
NET "TP_DIN_O" OUT_TERM = UNTUNED_75;
