//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 03 11:35:58 2016
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "R7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "rgb_reg_1" BEL "master_clk" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

